/* Colors */
select option.color-black                { background-color: black               ; color: #ffffff; }
select option.color-white                { background-color: white               ; color: #000000; }
select option.color-antiquewhite         { background-color: antiquewhite        ; color: #051428; }
select option.color-whitesmoke           { background-color: whitesmoke          ; color: #0a0a0a; }
select option.color-darkgray             { background-color: darkgray            ; color: #000000; }
select option.color-darkslategray        { background-color: darkslategray       ; color: #ffffff; }
select option.color-dimgray              { background-color: dimgray             ; color: #ffffff; }
select option.color-floralwhite          { background-color: floralwhite         ; color: #00050f; }
select option.color-ghostwhite           { background-color: ghostwhite          ; color: #070700; }
select option.color-gray                 { background-color: gray                ; color: #ffffff; }
select option.color-lightgray            { background-color: lightgray           ; color: #000000; }
select option.color-lightslategray       { background-color: lightslategray      ; color: #000000; }
select option.color-navajowhite          { background-color: navajowhite         ; color: #002152; }
select option.color-slategray            { background-color: slategray           ; color: #000000; }
select option.color-aliceblue            { background-color: aliceblue           ; color: #0f0700; }
select option.color-aqua                 { background-color: aqua                ; color: #ff0000; }
select option.color-aquamarine           { background-color: aquamarine          ; color: #80002b; }
select option.color-azure                { background-color: azure               ; color: #0f0000; }
select option.color-beige                { background-color: beige               ; color: #0a0a23; }
select option.color-bisque               { background-color: bisque              ; color: #001b3b; }
select option.color-blanchedalmond       { background-color: blanchedalmond      ; color: #001432; }
select option.color-blue                 { background-color: blue                ; color: #ffff00; }
select option.color-blueviolet           { background-color: blueviolet          ; color: #ffffff; }
select option.color-brown                { background-color: brown               ; color: #ffffff; }
select option.color-burlywood            { background-color: burlywood           ; color: #214778; }
select option.color-cadetblue            { background-color: cadetblue           ; color: #a0615f; }
select option.color-chartreuse           { background-color: chartreuse          ; color: #8000ff; }
select option.color-chocolate            { background-color: chocolate           ; color: #2d96e1; }
select option.color-coral                { background-color: coral               ; color: #0080af; }
select option.color-cornflowerblue       { background-color: cornflowerblue      ; color: #ffffff; }
select option.color-cornsilk             { background-color: cornsilk            ; color: #000723; }
select option.color-crimson              { background-color: crimson             ; color: #23ebc3; }
select option.color-cyan                 { background-color: cyan                ; color: #ff0000; }
select option.color-darkblue             { background-color: darkblue            ; color: #ffff74; }
select option.color-darkcyan             { background-color: darkcyan            ; color: #ffffff; }
select option.color-darkgoldenrod        { background-color: darkgoldenrod       ; color: #ffffff; }
select option.color-darkgreen            { background-color: darkgreen           ; color: #ffffff; }
select option.color-darkkhaki            { background-color: darkkhaki           ; color: #424894; }
select option.color-darkmagenta          { background-color: darkmagenta         ; color: #74ff74; }
select option.color-darkolivegreen       { background-color: darkolivegreen      ; color: #aa94d0; }
select option.color-darkorange           { background-color: darkorange          ; color: #0073ff; }
select option.color-darkorchid           { background-color: darkorchid          ; color: #66cd33; }
select option.color-darkred              { background-color: darkred             ; color: #74ffff; }
select option.color-darksalmon           { background-color: darksalmon          ; color: #166985; }
select option.color-darkseagreen         { background-color: darkseagreen        ; color: #704370; }
select option.color-darkslateblue        { background-color: darkslateblue       ; color: #b7c274; }
select option.color-darkturquoise        { background-color: darkturquoise       ; color: #ff312e; }
select option.color-darkviolet           { background-color: darkviolet          ; color: #6bff2c; }
select option.color-deeppink             { background-color: deeppink            ; color: #00eb6c; }
select option.color-deepskyblue          { background-color: deepskyblue         ; color: #ff4000; }
select option.color-dodgerblue           { background-color: dodgerblue          ; color: #e16f00; }
select option.color-firebrick            { background-color: firebrick           ; color: #4ddddd; }
select option.color-forestgreen          { background-color: forestgreen         ; color: #dd74dd; }
select option.color-fuchsia              { background-color: fuchsia             ; color: #00ff00; }
select option.color-gainsboro            { background-color: gainsboro           ; color: #232323; }
select option.color-gold                 { background-color: gold                ; color: #0028ff; }
select option.color-goldenrod            { background-color: goldenrod           ; color: #255adf; }
select option.color-green                { background-color: green               ; color: #ffffff; }
select option.color-greenyellow          { background-color: greenyellow         ; color: #5200d0; }
select option.color-honeydew             { background-color: honeydew            ; color: #0f000f; }
select option.color-hotpink              { background-color: hotpink             ; color: #00964b; }
select option.color-indianred            { background-color: indianred           ; color: #32a3a3; }
select option.color-indigo               { background-color: indigo              ; color: #b4ff7d; }
select option.color-ivory                { background-color: ivory               ; color: #00000f; }
select option.color-khaki                { background-color: khaki               ; color: #0f1973; }
select option.color-lavender             { background-color: lavender            ; color: #191905; }
select option.color-lavenderblush        { background-color: lavenderblush       ; color: #000f0a; }
select option.color-lawngreen            { background-color: lawngreen           ; color: #8303ff; }
select option.color-lemonchiffon         { background-color: lemonchiffon        ; color: #000532; }
select option.color-lightblue            { background-color: lightblue           ; color: #522719; }
select option.color-lightcoral           { background-color: lightcoral          ; color: #0f7f7f; }
select option.color-lightcyan            { background-color: lightcyan           ; color: #1f0000; }
select option.color-lightgoldenrodyellow { background-color: lightgoldenrodyellow; color: #05052d; }
select option.color-lightgreen           { background-color: lightgreen          ; color: #6f116f; }
select option.color-lightpink            { background-color: lightpink           ; color: #00493e; }
select option.color-lightsalmon          { background-color: lightsalmon         ; color: #005f85; }
select option.color-lightseagreen        { background-color: lightseagreen       ; color: #df4d55; }
select option.color-lightskyblue         { background-color: lightskyblue        ; color: #783105; }
select option.color-lightsteelblue       { background-color: lightsteelblue      ; color: #4f3b21; }
select option.color-lightyellow          { background-color: lightyellow         ; color: #00001f; }
select option.color-lime                 { background-color: lime                ; color: #ff00ff; }
select option.color-limegreen            { background-color: limegreen           ; color: #cd32cd; }
select option.color-linen                { background-color: linen               ; color: #050f19; }
select option.color-magenta              { background-color: magenta             ; color: #00ff00; }
select option.color-maroon               { background-color: maroon              ; color: #7fffff; }
select option.color-mediumaquamarine     { background-color: mediumaquamarine    ; color: #993255; }
select option.color-mediumblue           { background-color: mediumblue          ; color: #ffff32; }
select option.color-mediumorchid         { background-color: mediumorchid        ; color: #45aa2c; }
select option.color-mediumpurple         { background-color: mediumpurple        ; color: #6c8f24; }
select option.color-mediumseagreen       { background-color: mediumseagreen      ; color: #c34c8e; }
select option.color-mediumslateblue      { background-color: mediumslateblue     ; color: #849711; }
select option.color-mediumspringgreen    { background-color: mediumspringgreen   ; color: #ff0565; }
select option.color-mediumturquoise      { background-color: mediumturquoise     ; color: #b72e33; }
select option.color-mediumvioletred      { background-color: mediumvioletred     ; color: #38ea7a; }
select option.color-midnightblue         { background-color: midnightblue        ; color: #e6e68f; }
select option.color-mintcream            { background-color: mintcream           ; color: #0a0005; }
select option.color-mistyrose            { background-color: mistyrose           ; color: #001b1e; }
select option.color-moccasin             { background-color: moccasin            ; color: #001b4a; }
select option.color-navy                 { background-color: navy                ; color: #ffff7f; }
select option.color-oldlace              { background-color: oldlace             ; color: #020a19; }
select option.color-olive                { background-color: olive               ; color: #7f7fff; }
select option.color-olivedrab            { background-color: olivedrab           ; color: #9471dc; }
select option.color-orange               { background-color: orange              ; color: #000000; }
select option.color-orangered            { background-color: orangered           ; color: #ffffff; }
select option.color-orchid               { background-color: orchid              ; color: #258f29; }
select option.color-palegoldenrod        { background-color: palegoldenrod       ; color: #111755; }
select option.color-palegreen            { background-color: palegreen           ; color: #670467; }
select option.color-paleturquoise        { background-color: paleturquoise       ; color: #501111; }
select option.color-palevioletred        { background-color: palevioletred       ; color: #248f6c; }
select option.color-papayawhip           { background-color: papayawhip          ; color: #00102a; }
select option.color-peachpuff            { background-color: peachpuff           ; color: #002546; }
select option.color-peru                 { background-color: peru                ; color: #327ac0; }
select option.color-pink                 { background-color: pink                ; color: #003f34; }
select option.color-plum                 { background-color: plum                ; color: #225f22; }
select option.color-powderblue           { background-color: powderblue          ; color: #4f1f19; }
select option.color-purple               { background-color: purple              ; color: #7fff7f; }
select option.color-red                  { background-color: red                 ; color: #ffffff; }
select option.color-rosybrown            { background-color: rosybrown           ; color: #437070; }
select option.color-royalblue            { background-color: royalblue           ; color: #be961e; }
select option.color-saddlebrown          { background-color: saddlebrown         ; color: #74baec; }
select option.color-salmon               { background-color: salmon              ; color: #057f8d; }
select option.color-sandybrown           { background-color: sandybrown          ; color: #0b5b9f; }
select option.color-seagreen             { background-color: seagreen            ; color: #d174a8; }
select option.color-seashell             { background-color: seashell            ; color: #000a11; }
select option.color-sienna               { background-color: sienna              ; color: #5fadd2; }
select option.color-silver               { background-color: silver              ; color: #3f3f3f; }
select option.color-skyblue              { background-color: skyblue             ; color: #783114; }
select option.color-slateblue            { background-color: slateblue           ; color: #95a532; }
select option.color-snow                 { background-color: snow                ; color: #000505; }
select option.color-springgreen          { background-color: springgreen         ; color: #ff0080; }
select option.color-steelblue            { background-color: steelblue           ; color: #b97d4b; }
select option.color-tan                  { background-color: tan                 ; color: #2d4b73; }
select option.color-teal                 { background-color: teal                ; color: #ff7f7f; }
select option.color-thistle              { background-color: thistle             ; color: #274027; }
select option.color-tomato               { background-color: tomato              ; color: #009cb8; }
select option.color-turquoise            { background-color: turquoise           ; color: #bf1f2f; }
select option.color-violet               { background-color: violet              ; color: #000000; }
select option.color-wheat                { background-color: wheat               ; color: #0a214c; }
select option.color-yellow               { background-color: yellow              ; color: #0000ff; }
select option.color-yellowgreen          { background-color: yellowgreen         ; color: #6532cd; }
